@model DMS.Areas.SetupArea.Models.SetupMasterViewModel.SetupHeadOfficeViewModel


<form id="setupHeadOffice">
    <div class="modal-dialog" style="margin-left:21%;">
        <div class="modal-content" style="width:900px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="box-primary" id="addHeadOffice">
                    <strong>Add New Head Office</strong>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "SetupHeadOffice", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    Head Office Name<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.HeadOfficeName, new { @class = "form-control", @placeholder = "Head Office Name" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Head Office Code<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.HeadOfficeCode, new { @class = "form-control", @placeholder = "Head Office Code" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Company Logo
                                </label>
                                <input type="file" name="file" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    Contact Number<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Phone number" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Web Site
                                </label>
                                @Html.TextBoxFor(model => model.Web, new { @class = "form-control", @placeholder = "Web Site" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Email-Id
                                </label>
                                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", @placeholder = "Email Id" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    Pan Number
                                </label>
                                @Html.TextBoxFor(model => model.PanNo, new { @class = "form-control", @placeholder = "Pan number" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Vat Number
                                </label>
                                @Html.TextBoxFor(model => model.VatNo, new { @class = "form-control", @placeholder = "Vat Number" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Register Date<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.RegisteredDate, new { @class = "form-control", @placeholder = "Registered Date" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    Establish Date
                                </label>
                                @Html.TextBoxFor(model => model.EstablishDate, new { @class = "form-control", @placeholder = "Establish Date" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    State<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "State" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    District<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.District, new { @class = "form-control", @placeholder = "District" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    Metropolitan
                                </label>
                                @Html.TextBoxFor(model => model.Metropolitan, new { @class = "form-control", @placeholder = "Metropolitan" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    SubMetropolitan
                                </label>
                                @Html.TextBoxFor(model => model.SubMetropolitan, new { @class = "form-control", @placeholder = "SubMetropolitan" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Municipality
                                </label>
                                @Html.TextBoxFor(model => model.Municipality, new { @class = "form-control", @placeholder = "Municipality" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label>
                                    GauPalika
                                </label>
                                @Html.TextBoxFor(model => model.GauPalika, new { @class = "form-control", @placeholder = "GauPalika" })
                            </div>
                            <div class="col-sm-4">
                                <label>
                                    Ward No.<span style="color:red">*</span>
                                </label>
                                @Html.TextBoxFor(model => model.WardNo, new { @class = "form-control", @placeholder = "Ward Number" })
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" class="btn btn-primary" value="Save" onclick="postData('#setupHeadOffice', '#add-headOffice', 'Create', 'SetupHeadOffice', 'SetupArea', '#headOfficeList', '_GetHeadOfficeList')" />
                    </div>
                }
            </div>
        </div>
    </div>
</form>
